.date {
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
}
