<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Entrer les informations de l'enfant</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    <!-- Bootcards CSS -->
    <!-- <link rel="stylesheet" href="css/bootcards-ios.min.css"> -->
    <link rel="stylesheet" href="css/bootcards-android.min.css">
    <!-- <link rel="stylesheet" href="css/bootcards-desktop.min.css"> -->

    <!-- Mockup css -->
    <link href="css/mockup.css" rel="stylesheet">


    <!-- Bootstrap and Bootcards JS -->
    <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->

    <script src="js/bootcards.min.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">


<div class="panel panel-default bootcards-richtext">
  <div class="panel-heading">
    <h3 class="panel-title">Message personnel pour toi, Maman</h3>
  </div>
  <div class="panel-body">

    {% include-md contents/diary-00.md %}

  </div>
</div>








    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
