<h2 id="message-personnel-pour-toi-maman">Message personnel pour toi, Maman</h2>
<p>Tu me donnes le sein environ 6 fois par jour et tu es parfois obligée de me donner une septième tétée la nuit... Eh ! Oui, je sais que c'est dur mais comment veux-tu que je tienne toute une nuit sans manger ? Je suis bien trop petit ! Quand j'aurais 3 mois ou plus de 5 kg, on verra... , je réfléchirai à ce moment-là...</p>
<p>N'oublie pas d'ajouter mes vitamines pour que je ne devienne pas rachitique. Regarde-moi bien : est-ce que j'ai l'air d'être rachitique...?</p>
<p>Tu m'as l'air un peu fatiguée. Je sais que le docteur t'a parlé et t'a donné des conseils mais j'ai bien vu que tu avais du mal à te concentrer ! Heureusement que moi, j'ai tout enregistré. Il t'a dit de te mettre à mon heure ! De respecter mon horloge biologique. Pour se régler à la vie de famille, j'aurai besoin de plusieurs semaines, peut-être de 3 mois. Alors, en attendant, lorsque je dors, allonge toi aussi pour faire une petite sieste. Les premières semaines avec moi risquent d'être très fatigantes, alors repose-toi, petite maman, dès que je t'en laisse la possibilité.</p>
<h3 id="il-ta-donné-des-conseils-pour-que-tu-me-comprennes">Il t'a donné des conseils pour que tu me comprennes</h3>
<p>C'est vrai, ce n'est pas évident quand je pleure, de savoir pourquoi je pleure. J'ai faim ? j'ai soif ? J'ai trop chaud ? Trop froid ? J'ai fait dans ma couche ? Des bruits me dérangent ? Je cherche le sommeil ? Je souffre des coliques du bébé ? J'ai besoin d'extérioriser mon trop plein d'énergie ? Je veux un câlin, je me sent seul dans mon couffin immobile ? Petit à petit tu sauras reconnaître mes différents cris, mes différentes mimiques, mes différentes postures. Ne t'affole pas. Tu mettras quelques jours ou quelques semaines, mais tu y arriveras. En attendant n'hésite pas à me parler. Donne-moi à manger, change moi, berce moi, masse moi le ventre et même si tu ne comprends pas, dis-moi au moins que tu cherches à comprendre. N'ai pas peur que je ne saisisse pas tous les mots que tu dis mais je comprends au son de ta voix, à ton intonation, que tu essaies de m'aider. Et déjà, ça me rassure et me fait du bien</p>
<h2 id="il-ta-conseillé-de-téconomiser"> Il t'a conseillé de t'économiser !</h2>
<p>N'essaie pas de t'occuper de moi à la perfection, des éventuels frères et sœurs, du mari, faire les courses, le ménage de la maison, des bons petits plats etc. Ne culpabilise pas. Fais-toi aider. Tant pis si le ménage est moins bien fait qu'avant ma naissance et qu'il reste de la poussière sur les meubles ! Tant pis si les vêtements ne sont pas bien repassés! Tant pis si tu fais plus de conserves, de surgelés ou de plats cuisinés que de bons petits plats mijotés ! Soit on t'aide (papa, la famille, la marraine, les voisins, les amis, une baby-sitter, une garde de nuit... ), soit tu fais le strict minimum!</p>
<h3 id="il-ta-recommandé-davoir-confiance-en-toi">Il t'a recommandé d'avoir confiance en toi !</h3>
<p>Tu as l'impression d'être débordée ? Je sais que des millions de mères aussi inexpérimentées que toi sont passées par là et que cela s'est bien passé. Tu as en toi toute la force nécessaire. Ecoute ton cœur, ton instinct et ton bon sens. Un bébé, les premiers mois, ce n'est pas compliqué. Beaucoup d'amour, du lait, les fesses au propre, c'est largement suffisant et il n'y a pas besoin de diplôme ou d'études supérieures pour réussir cela. Plus tu seras fatiguée, plus tu te sentiras inquiète et ça, je le perçois très bien. Personne ne fera aussi bien que toi pour moi.</p>
<h3 id="le-médecin-ta-aussi-conseillé-daider-mon-papa-à-trouver-ses-marques">Le médecin t'a aussi conseillé d'aider mon papa à trouver ses marques</h3>
<p>Vous m'avez fabriqué à deux. Ce n'est pas facile pour papa de trouver sa place de père. Il faut qu'il participe. Il peut me donner ton lait tiré au biberon, le bain ou même me changer. Ce ne sera peut-être pas aussi bien fait que par toi maman, surtout au début. Mais ce n'est pas grave. J'ai besoin des deux, de ma maman et de mon papa. Le fait que vous soyez différents est bénéfique pour que je me construise et structure mes perceptions. Pendant que papa effectue ses nouvelles tâches de puériculture, ne le surveille pas : profitez-en plutôt pour t'occuper de toi.</p>
<h3 id="pense-aux-câlins-avec-papa">Pense aux câlins avec papa</h3>
<p>Après l'accouchement, la fatigue, les douleurs, l'épisiotomie ne favorisent pas la reprise joyeuse d'une vie sexuelle épanouie! Oui, je suis bébé mais quand-même, je sais d'où je viens... Il faut que papa et toi retrouvez des moments d'intimité et de tendresse où vous pourrez parler (d'autre chose que de moi! Même si je sais que je suis le centre de la Terre).</p>
<h3 id="fais-toi-plaisir-et-pense-à-toi">Fais toi plaisir et pense à toi</h3>
<p>Ce n'est pas parce que je suis là que tu dois t'oublier !</p>
<p>Tu as droit aux massages du corps et du visage, aux crèmes hydratantes, à t'acheter des vêtements, à aller chez le coiffeur, te faire épiler, avoir des soins dans un institut de beauté (bonne idée de cadeau de naissance!), tu peux sortir avec une amie faire du shoping, pendant que je reste gardé à la maison; téléphone pour prendre des nouvelles de tes amies ou de tes collègues de travail... Ne te referme pas sur toi-même. La vie continue aussi en dehors de moi!</p>
